#title{
  text-align: left;
}

h1, h2, h3, h4, h5, h6{
font-family: "Montserrat";
}

p{
  color:#8f8f8f;
  font-weight: bold;
}

/* headings */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color:white;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5rem;
}

.container-fluid
{
  padding:3% 15% 7%;
}

/* sections */
.colored-section{
  background-color:#944e6c;
  color:#fff;
}

.white-section{
  background-color: #fff;
}

.navbar-nav
{
  margin: 0 60%;
}

body{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

/* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;

}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/* download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image
{
  width:20%;
  transform:rotate(25deg);
  position: absolute;
  right:30%;
}

/* features section */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.features-title{
  font-size: 1.5rem;
}
.feature-box{
  padding:5%;
}


.icon{
  color:#8b5e83;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#944e6c;
}

/* testimonials */
#testimonials{
  background-color: #8b5e83;

}
.carousel-item{
    padding: 7% 15%;
}

.testimonial-image{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #8b5e83;
  padding-bottom: 3%;
}

.press-logo{
  width:15%;
  margin:20px 50px 50px;
}

#pricing{
  padding: 100px;
  background-color: #fff;
}
.pricing-text{
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

#cta{

  padding: 7% 15%;
}


#footer{
  padding: 7% 15%;
}
.social-icon{
  margin:20px 10px;
}
@media (max-width:1028px)
{
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
